@{
    ViewData["Title"] = "MedProHire - Get extraordinary medical professionals!";

}


<!-- Home Welcome Section Starts -->
<section class="about " id="about">
    <div class="container">
        <div class="text-center  heading-1 ">

            <div class="d-inline-block">
                <hr class="before" />
                <h2 class="font-nunito">
                    About Us
                </h2>
                <hr class="after" />
            </div>
        </div>

        <div class="row">
            <!-- Welcome Content Starts -->

            <div class="content-about col-lg-12 col-sm-12 font-nunito">
                <p class="font-nunito">MedProHire LLC is focused on creating partnerships that provide extraordinary care for our clients and patients. We source exceptional healthcare professionals to deliver client centered care aimed to far exceed the expectations of patients and families.</p>
                <p class="font-nunito">MedProHire LLC delivers a highly  interactive tool right on the hands of medical professionals to easily pick shifts, respond to service demand, and manage their work schedule.</p>


                @*<div class="text-right-sm text-lg-right">
                    <a href="https://www.youtube.com/watch?v=B2YCMkTLLNk" class="font-nunito">Watch Video</a>
                </div>*@
            </div>

            @*<div class="col-lg-4 col-sm-12">
                <embed class="content-about-object" src="https://www.youtube.com/embed/B2YCMkTLLNk">

            </div>*@
            <!-- Welcome Image Ends -->
        </div>
    </div>
</section>
<!-- Home Welcome Section Ends -->
<!-- Home Plan Info Section Starts -->
<section class="how-it-works text-center" id="to-find-job">
    <div class="container">
        <div class="heading-1 ">
            <div class="d-inline-block">
                <hr class="before" />
                <h2 class="font-nunito">
                    TO FIND A JOB
                </h2>
                <hr class="after" />
            </div>
        </div>

        <!-- Heading Ends -->
        <!-- Plan Info Tab Wrap Starts -->
        <div class="row text-xs-center text-sm-center text-md-center align-content-around">
            <div class="form-group col-sm-3 col-lg-3 col-xs-12">
                <div class=" roundHex">

                    <i class="fal fa-user-plus ruondhex-text"></i>
                </div>
                <h6 class="font-nunito">Sign Up</h6>
                <div class="readmoretext">
                    <p class="font-nunito">
                        Our simple online application process allows you to enter basic information about
                            yourself and attach your resume.

                       
                    </p>
                </div>
                <a href="#" id="myBtn" class="btn btn-link font-nunito">Read More</a>
            </div>
            <div class="form-group col-sm-3 col-lg-3 col-xs-12 align-content-center">
                <div class=" roundHex">

                    <i class="fal fa-file-signature ruondhex-text"></i>
                </div>
                <h6 class="font-nunito">
                    Get On Boarded
                </h6>
                <div class="readmoretext">
                    <p class="font-nunito">
                        An experienced recruiter will review your application, set up an interview, walk you
                        through a background check proccess and have you onboarded as a contractor.



                    </p>
                </div>

                <a href="#" id="myBtn" class="btn btn-link font-nunito">Read More</a>
            </div>

            <div class="form-group col-sm-3 col-lg-3 col-xs-12">
                <div class="roundHex">

                    <i class="fal fa-clock ruondhex-text"></i>
                </div>
                <h6 class="font-nunito">
                    Pick A Shift
                </h6>
                <div class="readmoretext">
                    <p class="font-nunito">
                        Our interactive platform will alert you whenever a shift that suits your credentials is available.
                            You can also search from a list of posted available shifts to pick one that is most convenient for you.

                        

                    </p>

                </div>
                <a id="myBtn" href="#" class="btn btn-link font-nunito">Read More</a>
            </div>
            <div class="form-group col-sm-3 col-lg-3 col-xs-12">
                <div class="roundHex">

                    <i class="fal fa-usd-circle ruondhex-text"></i>
                </div>
                <h6 class="font-nunito">
                    Get Paid
                </h6>
                <div class="readmoretext">
                    <p class="font-nunito">
                        Our clock-in /clock-out system will ensure that you are compensated promptly on a weekly basis for
                            hours worked.
                    </p>
                </div>
                <a href="#" id="myBtn" class="btn btn-link font-nunito">Read More</a>
            </div>
        </div>
    </div>
    <!-- Plan Info Tab Wrap Ends -->
</section>
@Html.Partial("_FindTalent")
<!-- Home Plan Info Section Ends -->
<!-- Main Container Ends -->
<!-- Home Gallery Section Starts -->
