@{
    ViewData["Title"] = "Onboarding Process";
}
<div class="containerbackground">
    <div class="new-heading new-heading-background ">
        <h2 class="">@ViewData["Title"]</h2>
    </div>
    <div class=" usercontainer">
        <form>

            <div class="backgroundlast  text-center ">
                <p>
                    We are happy to let you know that we have received your completed on-boarding information. We are reviewing the details and once this is completed successfully we will be sending you our official welcome letter indicating your start date.
                </p>
            </div>

        </form>
        </div>
</div>