<p>{Position}; Offer of Employment</p>
<p>Dear {Name}</p>
<p>After careful consideration, I’m pleased to announce that we’ve decided to offer you the position of {Position}; for MedPro Hire  LLC This email will serve as your formal offer.</p>
<p>Your position title will be {Position}, and in this capacity, you will work as a contractor  serving  our clients who include different medical institutions The start date for the position is {StartDate}.</p>
<p>The hourly wage for this position will be ${HourlyRate} per hour, Payments will be distributed weekly depending on the number of hours worked by check or direct deposit, minus appropriate witholdings. This is an exempt position, and you will not be eligible for overtime compensation. You will be eligible for limited health and retirement benefits, which are outlined on our internal company website. </p>
<p>The agreement between you and MedPro Hire LLC. is considered at-will, meaning either party can sever the agreement at any time, for any reason, with or without notice. </p>
<p>Please review the company website for more information about the MedPro Hire mission, our family, and our history. If you have any questions about this offer or would like more information, please contact me at any time using the phone number and email address below. </p>
<p>To accept this offer, please download, sign, and return the enclosed acceptance form by  {EndDate}</p>
<p>Sincerely, </p>
<hr />
<p> HR Manager, Marketing</p>
<p>{RecruiterEmail}</p>