@model medprohiremvp.Models.SignModel
@{
    ViewData["Title"] = "Sign Document";
}

<div class="main-container-1 container text-xs-center text-sm-center text-md-left">
    <!-- Heading Starts -->
    <h3 class="heading-1 text-xs-center text-sm-center text-md-left"><strong>Send Document to Sign</strong></h3>

    <div class="spacer"></div>
    

        @using (Html.BeginForm("Sign", "SignDocument", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label sr-only"></label>
                        <input asp-for="EmailAddress" class="form-control flat animation" placeholder="EmailAddress" readonly="readonly" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label sr-only"></label>
                        <input asp-for="LastName" class="form-control flat animation" placeholder="LastName" readonly="readonly" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-main" value="Sign the document!" />
                    </div>
                </div>
            </div>
        }
 

</div>
