@{
    ViewData["Title"] = "Sign Completed";
}
<div class="main-container-1 container text-xs-center text-sm-center text-md-left">
    <!-- Heading Starts -->
    <h3 class="heading-1 text-xs-center text-sm-center text-md-left"><strong>Signing Document Completed</strong></h3>
    <div class="content-1">
        <p> The signing ceremony was completed with <span style="color:blue;">@(Context.Request.Query["event"])</span></p>
</div>
    </div>
