@model medprohiremvp.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change password";
}
<form method="post">
    
        @if (TempData["changeanswer"] != null)
        {
            if (TempData["changeanswer"].ToString() == "ok")
            {

                @using Microsoft.AspNetCore.Identity
                @using medprohiremvp.DATA.IdentityModels
                @using medprohiremvp.DATA.Entity
                @using medprohiremvp.Service.IServices
                @inject SignInManager<ApplicationUser> SignInManager
                @inject UserManager<ApplicationUser> UserManager
                @inject ICommonServices CommonServices

                @if (SignInManager.IsSignedIn(User))
                {
                    string rolename = "Applicant";
                    var user = UserManager.GetUserAsync(User).Result;
                    var roles = UserManager.GetRolesAsync(user).Result;
                    rolename = roles[0];

                    <p>Password Changed <a asp-action="Profile" asp-controller="@rolename"><strong>Click</strong> </a> to go back profile page! </p>
                }
            }
            else
            {

                <p>@TempData["changeanswer"].ToString()</p>
               
                <div class="background text-left">
                    <div class="col-md-4  mx-auto ">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label "></label>
                            <input asp-for="OldPassword" class="form-control flat animation" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label "></label>
                            <input asp-for="NewPassword" class="form-control flat animation" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label "></label>
                            <input asp-for="ConfirmPassword" class="form-control flat animation" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-main">Save</button>
            }
        }

</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
