@model medprohiremvp.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<form asp-action="ForgotPassword" method="post">
    <div class="container text-center">

        <div class="heading-1">
            <div class="d-inline-block">
                <hr class="before" />
                <h2 class="">Forget Password</h2>
                <hr class="after" />
            </div>
        </div>

        <div class="background col-lg-5 col-sm-9 col-xs-12  mx-auto ">


                <div class="form-group text-left">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control flat animation" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-main">Send Email</button>
                </div>



            </div>
        </div>
 
</form>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
