@{
    ViewData["Title"] = "Forgot password confirmation";
}

<form>
    <div class=" container text-center">

        <div class="heading-1">
            <div class="d-inline-block">
                <hr class="before" />
                <h2>@ViewData["Title"]</h2>
                <hr class="after" />
            </div>
        </div>
        <div class="col-lg-7 col-sm-9 col-xs-12  text-center mx-auto">
            <p>Please check your email to reset your password.</p>
        </div>
    </div>
</form>