@model medprohiremvp.Models.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<form method="post">
    <div class=" container text-center">

        <div class="heading-1">
            <div class="d-inline-block">
                <hr class="before" />
                <h2>@ViewData["Title"]</h2>
                <hr class="after" />
            </div>
        </div>

        <div class="col-md-4  mx-auto ">
            <div class="background text-left">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email" class="form-control sr-only"></label>
                    <input asp-for="Email" class="form-control flat animation" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-control sr-only"></label>
                    <input asp-for="Password" class="form-control flat animation" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-control sr-only"></label>
                    <input asp-for="ConfirmPassword" class="form-control flat animation" placeholder="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

                    <button type="submit" class="btn btn-main">Reset</button>
        </div>
</form>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
