
<section class="findtalant">
    <div class="container">
        <div>
            <div class="text-center  heading-1 ">

                <div class="d-inline-block">
                    <hr class="before" />
                    <h2>
                        Find Talent
                    </h2>
                    <hr class="after" />
                </div>
            </div>
        </div>
        <div class="umb-grid">
            <div class="grid-section">
                <div>

                </div>
                <div class="findtalentboxes">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12  column">
                                <div class="bg-color-front-hover" style="background-image:linear-gradient(rgba(0, 75, 141, 0.3), rgba(0, 75, 141, 0.3)), url(../images/findtalen1.jpg);">



                                    <div class="RichTextEditorClass">
                                        <div class="col-xs-12 col-sm-12 hidden-sm hidden-xs">
                                            <div class="block block-expertise">
                                                <article role="article">
                                                    <h3 class="font-nunito">Pool Talent Services</h3>
                                                    <h2 class="teaser font-nunito" style="font-size: 22px;">We have a portfolio of qualified and experienced medical professionals available for on-demand shift staffing needs.</h2>
                                                    <div class="description font-nunito">
                                                        <p class="font-nunito">Our technologically interactive platform enables medical institution to list available staffing requirements per shift basis, thus providing matching talent the opportunity to pick these shifts and provide the much-needed medical services.</p>
                                                    </div>
                                                    <a data-id="1115" asp-action="FindTalent" asp-route-id=1 title="Expertise" class="btn-line-white font-nunito">Learn more</a>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                                            <div class="ftbox expertise">
                                                <h3 class="font-nunito">Pool Talent Services</h3>
                                                <h2 class="font-nunito">We have a portfolio of qualified and experienced medical professionals available for on-demand shift staffing needs.</h2>
                                                <p class="font-nunito">Our technologically interactive platform enables medical institution to list available staffing requirements per shift basis, thus providing matching talent the opportunity to pick these shifts and provide the much-needed medical services.</p>
                                                <a data-id="4132" asp-action="FindTalent" asp-route-id=1 title="Staffing Services" class="btn-line-white font-nunito">Learn more</a>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>          
                            <div class="col-lg-6 col-md-12 column">
                                <div class="bg-image-industry" style="background-image:linear-gradient(rgba(0, 75, 141, 0.3), rgba(0, 75, 141, 0.3)),url(../images/findtalent2.jpg);">



                                    <div class="RichTextEditorClass">
                                        <div class="col-xs-12 col-sm-12 hidden-sm hidden-xs">
                                            <div class="block block-industry">
                                                <article role="article">
                                                    <h3 class="font-nunito">Direct Placement Services</h3>
                                                    <h2 class="teaser font-nunito" style="font-size: 22px;" >We offer direct placement services for any open staffing positions within a medical institution.  </h2>
                                                    <div class="description">
                                                        <p class="font-nunito">Our niche recruiters will work with your hiring managers in sourcing and vetting the best possible candidates. Our platform allows you to advertise for these positions for free.</pclass="font-nunito">
                                                    </div>
                                                    <a data-id="1119" asp-action="FindTalent" asp-route-id=2 title="Industry Specialties" class="btn-line-white font-nunito">Learn more</a>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
                                            <div class="ftbox industry">
                                                <h3 class="font-nunito">Direct Placement Services</h3>
                                                <h2 class="font-nunito">We offer direct placement services for any open staffing positions within a medical institution.  </h2>
                                                <p class="font-nunito">Our niche recruiters will work with your hiring managers in sourcing and vetting the best possible candidates. Our platform allows you to advertise for these positions for free.</p>
                                                <a data-id="4116" asp-action="FindTalent" asp-route-id=2 title="Advanced Services" class="btn-line-white font-nunito">Learn more</a>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deskonly-mt-30 findtalentboxes">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-6 col-md-12 column">
                                <div class="bg-image-solution" style="background-image:linear-gradient(rgba(0, 75, 141, 0.3), rgba(0, 75, 141, 0.3)),url(../images/findtalent3.jpg);">



                                    <div class="RichTextEditorClass">
                                        <div class="col-xs-12 col-sm-12 hidden-sm hidden-xs">
                                            <div class="block block-industry">
                                                <article role="article">
                                                    <h3 class="font-nunito">Contract or Contract to Hire</h3>
                                                    <h2 class="teaser font-nunito" style="font-size: 22px;">We offer temporary employment services for your midterm to long-term staffing needs on contractual basis. </h2>
                                                    <div class="description">
                                                        <p class="font-nunito">We will work closely with you in identifying the best possible candidates and go a step further to provide all HR and payroll services for assigned contractors.</p>
                                                    </div>
                                                    <a data-id="1119" asp-action="FindTalent" asp-route-id=3 title="Industry Specialties" class="btn-line-white font-nunito">Learn more</a>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" >
                                            <div class="ftbox industry">
                                                <h3 class="font-nunito">Contract or Contract to Hire</h3>
                                                <h2 class="font-nunito">We offer temporary employment services for your midterm to long-term staffing needs on contractual basis. </h2>
                                                <p class="font-nunito">We will work closely with you in identifying the best possible candidates and go a step further to provide all HR and payroll services for assigned contractors.</p>
                                                <a data-id="1119" asp-action="FindTalent" asp-route-id=3 title="Industry Specialties" class="btn-line-white font-nunito">Learn more</a>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>            <div class="col-lg-6 col-md-12 column">
                                <div class="bg-color-front-hover" style="background-image:linear-gradient(rgba(0, 75, 141, 0.3), rgba(0, 75, 141, 0.3)),url(../images/findtalent4.jpg);">



                                    <div class="RichTextEditorClass">
                                        <div class="col-xs-12 col-sm-12 hidden-sm hidden-xs">
                                            <div class="block block-engagement">
                                                <article role="article">
                                                    <h3 class="font-nunito">Home Infusion Therapy Nursing</h3>
                                                    <h2 class="teaser font-nunito">We establish long-term relationships with infusion nurses to ensure that patient care and educational needs are completely met.</h2>
                                                    <div class="description">
                                                        <p class="font-nunito">
                                                            Our intake specialists coordinate insurance verification to establish the patient’s care plan.
                                                            Our clinicians help healthcare providers develop a personalized care plan for each patient based on diagnosis and therapeutic goals.
                                                        </p>
                                                    </div>
                                                    <a data-id="1121" asp-action="FindTalent" asp-route-id=4 title="Offerings" class="btn-line-white font-nunito">Learn more</a>
                                                </article>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg" >
                                            <div class="ftbox solutions">
                                                <h3 class="font-nunito">Home Infusion Therapy Nursing</h3>
                                                <h2 class="font-nunito">We establish long-term relationships with infusion nurses to ensure that patient care and educational needs are completely met.</h2>
                                                <p class="font-nunito">
                                                    Our intake specialists coordinate insurance verification to establish the patient’s care plan.
                                                    Our clinicians help healthcare providers develop a personalized care plan for each patient based on diagnosis and therapeutic goals.
                                                </p>
                                                <a data-id="1884" asp-action="FindTalent" asp-route-id=4 title="Case Studies" class="btn-line-white font-nunito">Learn more</a>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
